ALLOWED_DOMAINS=localhost
PORTRAIT_GRPC_TIMEOUT_MS=60000
ONNX_SEGMENTATION_ENABLED=true
ONNX_MODEL_DTYPE=fp32
ONNX_EXECUTION_PROVIDERS=CPUExecutionProvider
ONNX_MODEL_WARMUP=true
LOCAL_SEGMENTATION_ENABLED=true
LOCAL_SEGMENTATION_MODEL=isnet-general-use
AI_PROVIDERS_ORDER=
ALPHA_FEATHER=0
